@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@font-face { font-family: "ExcellenceInMotionScreen"; font-style: normal; font-weight: 400; src: url("../../css/fonts/ExcellenceInMotionScreen-Regular.eot?") format("eot"), url("../../css/fonts/ExcellenceInMotionScreen-Regular.woff2") format("woff2"), url("../../css/fonts/ExcellenceInMotionScreen-Regular.woff") format("woff"), url("../../css/fonts/ExcellenceInMotionScreen-Regular.ttf") format("truetype"), url("../../css/fonts/ExcellenceInMotionScreen-Regular.svg#ExcellenceInMotionScreen") format("svg"); }

@font-face { font-family: "ExcellenceInMotionScreen"; font-style: bold; font-weight: 700; src: url("../../css/fonts/ExcellenceInMotionScreen-Bold.eot?") format("eot"), url("../../css/fonts/ExcellenceInMotionScreen-Bold.woff2") format("woff2"), url("../../css/fonts/ExcellenceInMotionScreen-Bold.woff") format("woff"), url("../../css/fonts/ExcellenceInMotionScreen-Bold.ttf") format("truetype"), url("../../css/fonts/ExcellenceInMotionScreen-Bold.svg#ExcellenceInMotionScreen") format("svg"); }

.font { /* LETTER SPACING: 0 */ /* LETTER SPACING: 1 */ /* LETTER SPACING: 2 */ /* LETTER SPACING: 3 */ /* LETTER SPACING: 4 */ /* LETTER SPACING: 5 */ /* LETTER SPACING: 6 */ /* LETTER SPACING: 7 */ /* LETTER SPACING: 8 */ /* LETTER SPACING: 9 */ /* LETTER SPACING: 10 */ }

.font__global { font-family: "Poppins", sans-serif; font-size: 20px; font-size: 1.25rem; line-height: 28px; line-height: 1.75rem; }

@media screen and (max-width: 1199px) { .font__global { font-size: 16px; font-size: 1rem; line-height: 22px; line-height: 1.375rem; } }

@media screen and (max-width: 991px) { .font__global { font-size: 15px; font-size: 0.9375rem; line-height: 20px; line-height: 1.25rem; } }

@media screen and (max-width: 767px) { .font__global { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; } }

.font__global-H h1, .font__global-H h2, .font__global-H h3, .font__global-H h4, .font__global-H h5, .font__global-H h6 { font-family: "Poppins", sans-serif; font-size: 20px; font-size: 1.25rem; line-height: 28px; line-height: 1.75rem; }

@media screen and (max-width: 1199px) { .font__global-H h1, .font__global-H h2, .font__global-H h3, .font__global-H h4, .font__global-H h5, .font__global-H h6 { font-size: 16px; font-size: 1rem; line-height: 22px; line-height: 1.375rem; } }

@media screen and (max-width: 991px) { .font__global-H h1, .font__global-H h2, .font__global-H h3, .font__global-H h4, .font__global-H h5, .font__global-H h6 { font-size: 15px; font-size: 0.9375rem; line-height: 20px; line-height: 1.25rem; } }

@media screen and (max-width: 767px) { .font__global-H h1, .font__global-H h2, .font__global-H h3, .font__global-H h4, .font__global-H h5, .font__global-H h6 { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; } }

.font__size--xll { font-size: 17px; font-size: 1.0625rem; line-height: 27px; line-height: 1.6875rem; }

@media screen and (max-width: 767px) { .font__size--xll { font-size: 20px; font-size: 1.25rem; line-height: 28px; line-height: 1.75rem; } }

.font__size--lg { font-size: 15px; font-size: 0.9375rem; line-height: 20px; line-height: 1.25rem; }

@media screen and (max-width: 767px) { .font__size--lg { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; } }

.font__size--md { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; }

@media screen and (max-width: 767px) { .font__size--md { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; } }

.font__size--sm { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; }

.font__size--ssm { font-size: 10px; font-size: 0.625rem; line-height: 15px; line-height: 0.9375rem; }

.font__size-H--xll h1, .font__size-H--xll h2, .font__size-H--xll h3, .font__size-H--xll h4, .font__size-H--xll h5, .font__size-H--xll h6 { font-size: 17px; font-size: 1.0625rem; line-height: 27px; line-height: 1.6875rem; }

@media screen and (max-width: 767px) { .font__size-H--xll h1, .font__size-H--xll h2, .font__size-H--xll h3, .font__size-H--xll h4, .font__size-H--xll h5, .font__size-H--xll h6 { font-size: 20px; font-size: 1.25rem; line-height: 28px; line-height: 1.75rem; } }

.font__size-H--lg h1, .font__size-H--lg h2, .font__size-H--lg h3, .font__size-H--lg h4, .font__size-H--lg h5, .font__size-H--lg h6 { font-size: 15px; font-size: 0.9375rem; line-height: 20px; line-height: 1.25rem; }

@media screen and (max-width: 767px) { .font__size-H--lg h1, .font__size-H--lg h2, .font__size-H--lg h3, .font__size-H--lg h4, .font__size-H--lg h5, .font__size-H--lg h6 { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; } }

.font__size-H--md h1, .font__size-H--md h2, .font__size-H--md h3, .font__size-H--md h4, .font__size-H--md h5, .font__size-H--md h6 { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; }

@media screen and (max-width: 767px) { .font__size-H--md h1, .font__size-H--md h2, .font__size-H--md h3, .font__size-H--md h4, .font__size-H--md h5, .font__size-H--md h6 { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; } }

.font__size-H--sm h1, .font__size-H--sm h2, .font__size-H--sm h3, .font__size-H--sm h4, .font__size-H--sm h5, .font__size-H--sm h6 { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; }

.font__size-H--ssm h1, .font__size-H--ssm h2, .font__size-H--ssm h3, .font__size-H--ssm h4, .font__size-H--ssm h5, .font__size-H--ssm h6 { font-size: 10px; font-size: 0.625rem; line-height: 15px; line-height: 0.9375rem; }

.font__secondary { font-family: "Poppins", sans-serif !important; }

.font__secondary-H h1, .font__secondary-H h2, .font__secondary-H h3, .font__secondary-H h4, .font__secondary-H h5, .font__secondary-H h6 { font-family: "Poppins", sans-serif !important; }

.font__weight--light { font-family: "Poppins", sans-serif; font-weight: 300 !important; }

.font__weight--regular { font-family: "Poppins", sans-serif; font-weight: 400 !important; }

.font__weight--bold { font-family: "Poppins", sans-serif; font-weight: 700 !important; }

.font__weight--extrabold { font-family: "Poppins", sans-serif; font-weight: 900 !important; }

.font__weight-H--light h1, .font__weight-H--light h2, .font__weight-H--light h3, .font__weight-H--light h4, .font__weight-H--light h5, .font__weight-H--light h6 { font-family: "Poppins", sans-serif; font-weight: 300 !important; }

.font__weight-H--regular h1, .font__weight-H--regular h2, .font__weight-H--regular h3, .font__weight-H--regular h4, .font__weight-H--regular h5, .font__weight-H--regular h6 { font-family: "Poppins", sans-serif; font-weight: 400 !important; }

.font__weight-H--bold h1, .font__weight-H--bold h2, .font__weight-H--bold h3, .font__weight-H--bold h4, .font__weight-H--bold h5, .font__weight-H--bold h6 { font-family: "Poppins", sans-serif; font-weight: 700 !important; }

.font__weight-H--extrabold h1, .font__weight-H--extrabold h2, .font__weight-H--extrabold h3, .font__weight-H--extrabold h4, .font__weight-H--extrabold h5, .font__weight-H--extrabold h6 { font-family: "Poppins", sans-serif; font-weight: 900 !important; }

.font__italic--light { font-family: "Poppins", sans-serif; font-weight: 300 !important; }

.font__italic--regular { font-family: "Poppins", sans-serif; font-weight: 400 !important; }

.font__italic--bold { font-family: "Poppins", sans-serif; font-weight: 700 !important; }

.font__italic--extrabold { font-family: "Poppins", sans-serif; font-weight: 900 !important; }

.font__italic-H--light h1, .font__italic-H--light h2, .font__italic-H--light h3, .font__italic-H--light h4, .font__italic-H--light h5, .font__italic-H--light h6 { font-family: "Poppins", sans-serif; font-weight: 300 !important; }

.font__italic-H--regular h1, .font__italic-H--regular h2, .font__italic-H--regular h3, .font__italic-H--regular h4, .font__italic-H--regular h5, .font__italic-H--regular h6 { font-family: "Poppins", sans-serif; font-weight: 400 !important; }

.font__italic-H--bold h1, .font__italic-H--bold h2, .font__italic-H--bold h3, .font__italic-H--bold h4, .font__italic-H--bold h5, .font__italic-H--bold h6 { font-family: "Poppins", sans-serif; font-weight: 700 !important; }

.font__italic-H--extrabold h1, .font__italic-H--extrabold h2, .font__italic-H--extrabold h3, .font__italic-H--extrabold h4, .font__italic-H--extrabold h5, .font__italic-H--extrabold h6 { font-family: "Poppins", sans-serif; font-weight: 900 !important; }

.font__letter-spacing--0 { letter-spacing: 0px !important; }

.font__letter-spacing-H--0 h1, .font__letter-spacing-H--0 h2, .font__letter-spacing-H--0 h3, .font__letter-spacing-H--0 h4, .font__letter-spacing-H--0 h5, .font__letter-spacing-H--0 h6 { letter-spacing: 0px !important; }

.font__letter-spacing--1 { letter-spacing: 1px !important; }

.font__letter-spacing-H--1 h1, .font__letter-spacing-H--1 h2, .font__letter-spacing-H--1 h3, .font__letter-spacing-H--1 h4, .font__letter-spacing-H--1 h5, .font__letter-spacing-H--1 h6 { letter-spacing: 1px !important; }

.font__letter-spacing--2 { letter-spacing: 2px !important; }

.font__letter-spacing-H--2 h1, .font__letter-spacing-H--2 h2, .font__letter-spacing-H--2 h3, .font__letter-spacing-H--2 h4, .font__letter-spacing-H--2 h5, .font__letter-spacing-H--2 h6 { letter-spacing: 2px !important; }

.font__letter-spacing--3 { letter-spacing: 3px !important; }

.font__letter-spacing-H--3 h1, .font__letter-spacing-H--3 h2, .font__letter-spacing-H--3 h3, .font__letter-spacing-H--3 h4, .font__letter-spacing-H--3 h5, .font__letter-spacing-H--3 h6 { letter-spacing: 3px !important; }

.font__letter-spacing--4 { letter-spacing: 4px !important; }

.font__letter-spacing-H--4 h1, .font__letter-spacing-H--4 h2, .font__letter-spacing-H--4 h3, .font__letter-spacing-H--4 h4, .font__letter-spacing-H--4 h5, .font__letter-spacing-H--4 h6 { letter-spacing: 4px !important; }

.font__letter-spacing--5 { letter-spacing: 5px !important; }

.font__letter-spacing-H--5 h1, .font__letter-spacing-H--5 h2, .font__letter-spacing-H--5 h3, .font__letter-spacing-H--5 h4, .font__letter-spacing-H--5 h5, .font__letter-spacing-H--5 h6 { letter-spacing: 5px !important; }

.font__letter-spacing--6 { letter-spacing: 6px !important; }

.font__letter-spacing-H--6 h1, .font__letter-spacing-H--6 h2, .font__letter-spacing-H--6 h3, .font__letter-spacing-H--6 h4, .font__letter-spacing-H--6 h5, .font__letter-spacing-H--6 h6 { letter-spacing: 6px !important; }

.font__letter-spacing--7 { letter-spacing: 7px !important; }

.font__letter-spacing-H--7 h1, .font__letter-spacing-H--7 h2, .font__letter-spacing-H--7 h3, .font__letter-spacing-H--7 h4, .font__letter-spacing-H--7 h5, .font__letter-spacing-H--7 h6 { letter-spacing: 7px !important; }

.font__letter-spacing--8 { letter-spacing: 8px !important; }

.font__letter-spacing-H--8 h1, .font__letter-spacing-H--8 h2, .font__letter-spacing-H--8 h3, .font__letter-spacing-H--8 h4, .font__letter-spacing-H--8 h5, .font__letter-spacing-H--8 h6 { letter-spacing: 8px !important; }

.font__letter-spacing--9 { letter-spacing: 9px !important; }

.font__letter-spacing-H--9 h1, .font__letter-spacing-H--9 h2, .font__letter-spacing-H--9 h3, .font__letter-spacing-H--9 h4, .font__letter-spacing-H--9 h5, .font__letter-spacing-H--9 h6 { letter-spacing: 9px !important; }

.font__letter-spacing--10 { letter-spacing: 10px !important; }

.font__letter-spacing-H--10 h1, .font__letter-spacing-H--10 h2, .font__letter-spacing-H--10 h3, .font__letter-spacing-H--10 h4, .font__letter-spacing-H--10 h5, .font__letter-spacing-H--10 h6 { letter-spacing: 10px !important; }

.p-6 { padding: 4rem !important; }

@media screen and (max-width: 1199px) { .p-6 { padding: 2rem !important; } }

.p-7 { padding: 5rem !important; }

@media screen and (max-width: 1199px) { .p-7 { padding: 2rem !important; } }

.p-8 { padding: 6rem !important; }

@media screen and (max-width: 1199px) { .p-8 { padding: 3rem !important; } }

.p-9 { padding: 7rem !important; }

@media screen and (max-width: 1199px) { .p-9 { padding: 4rem !important; } }

.p-10 { padding: 8rem !important; }

@media screen and (max-width: 1199px) { .p-10 { padding: 5rem !important; } }

.px-6 { padding-left: 3.5rem !important; padding-right: 3.5rem !important; }

@media screen and (max-width: 1199px) { .px-6 { padding-left: 2rem !important; padding-right: 2rem !important; } }

.px-7 { padding-left: 4rem !important; padding-right: 4rem !important; }

@media screen and (max-width: 1199px) { .px-7 { padding-left: 2rem !important; padding-right: 2rem !important; } }

.px-8 { padding-left: 4.5rem !important; padding-right: 4.5rem !important; }

@media screen and (max-width: 1199px) { .px-8 { padding-left: 2rem !important; padding-right: 2rem !important; } }

.px-9 { padding-left: 6.5rem !important; padding-right: 6.5rem !important; }

@media screen and (max-width: 1199px) { .px-9 { padding-left: 3rem !important; padding-right: 3rem !important; } }

.px-10 { padding-left: 7rem !important; padding-right: 7rem !important; }

@media screen and (max-width: 1199px) { .px-10 { padding-left: 3.5rem !important; padding-right: 3.5rem !important; } }

.py-6 { padding-top: 3.5rem !important; padding-bottom: 3.5rem !important; }

@media screen and (max-width: 1199px) { .py-6 { padding-top: 2rem !important; padding-bottom: 2rem !important; } }

.py-7 { padding-top: 4rem !important; padding-bottom: 4rem !important; }

@media screen and (max-width: 1199px) { .py-7 { padding-top: 2rem !important; padding-bottom: 2rem !important; } }

.py-8 { padding-top: 6rem !important; padding-bottom: 6rem !important; }

@media screen and (max-width: 1199px) { .py-8 { padding-top: 3rem !important; padding-bottom: 3rem !important; } }

.py-9 { padding-top: 6.5rem !important; padding-bottom: 6.5rem !important; }

@media screen and (max-width: 1199px) { .py-9 { padding-top: 3rem !important; padding-bottom: 3rem !important; } }

.py-10 { padding-top: 7rem !important; padding-bottom: 7rem !important; }

@media screen and (max-width: 1199px) { .py-10 { padding-top: 3.5rem !important; padding-bottom: 3.5rem !important; } }

.clearfix::after { display: block; content: ""; clear: both; }

.row:after, .row:before { display: none !important; }

/* COLOR THEME: primary */
.c__theme--primary { color: #0033A1; }

/* BACKGROUND THEME: primary */
.bg__theme--primary { background-color: #0033A1; color: white; }

/* BORDER THEME: primary */
.border__theme--primary { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #0033A1; }

/* COLOR THEME: secondary */
.c__theme--secondary { color: #98989A; }

/* BACKGROUND THEME: secondary */
.bg__theme--secondary { background-color: #98989A; color: white; }

/* BORDER THEME: secondary */
.border__theme--secondary { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #98989A; }

/* COLOR THEME: accent */
.c__theme--accent { color: #E50695; }

/* BACKGROUND THEME: accent */
.bg__theme--accent { background-color: #E50695; color: black; }

/* BORDER THEME: accent */
.border__theme--accent { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #E50695; }

/* COLOR THEME: complementary */
.c__theme--complementary { color: #3DAE2B; }

/* BACKGROUND THEME: complementary */
.bg__theme--complementary { background-color: #3DAE2B; color: white; }

/* BORDER THEME: complementary */
.border__theme--complementary { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #3DAE2B; }

/* COLOR THEME: complementary2 */
.c__theme--complementary2 { color: #E1251B; }

/* BACKGROUND THEME: complementary2 */
.bg__theme--complementary2 { background-color: #E1251B; color: white; }

/* BORDER THEME: complementary2 */
.border__theme--complementary2 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #E1251B; }

/* COLOR THEME: complementary3 */
.c__theme--complementary3 { color: #005CB9; }

/* BACKGROUND THEME: complementary3 */
.bg__theme--complementary3 { background-color: #005CB9; color: white; }

/* BORDER THEME: complementary3 */
.border__theme--complementary3 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #005CB9; }

/* COLOR THEME: complementary4 */
.c__theme--complementary4 { color: #FFCD00; }

/* BACKGROUND THEME: complementary4 */
.bg__theme--complementary4 { background-color: #FFCD00; color: black; }

/* BORDER THEME: complementary4 */
.border__theme--complementary4 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #FFCD00; }

/* COLOR UNIVERSAL: black */
.c__uni--black { color: #000000; }

/* BACKGROUND UNIVERSAL: black */
.bg__uni--black { background-color: #000000; color: #cccccc; }

/* BORDER UNIVERSAL: black */
.border__uni--black { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #000000; }

/* COLOR UNIVERSAL: white */
.c__uni--white { color: #FFFFFF; }

/* BACKGROUND UNIVERSAL: white */
.bg__uni--white { background-color: #FFFFFF; color: #333333; }

/* BORDER UNIVERSAL: white */
.border__uni--white { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #FFFFFF; }

/* COLOR UNIVERSAL: red */
.c__uni--red { color: #f44336; }

/* BACKGROUND UNIVERSAL: red */
.bg__uni--red { background-color: #f44336; color: white; }

/* BORDER UNIVERSAL: red */
.border__uni--red { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #f44336; }

/* COLOR UNIVERSAL: pink */
.c__uni--pink { color: #e91e63; }

/* BACKGROUND UNIVERSAL: pink */
.bg__uni--pink { background-color: #e91e63; color: white; }

/* BORDER UNIVERSAL: pink */
.border__uni--pink { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #e91e63; }

/* COLOR UNIVERSAL: purple */
.c__uni--purple { color: #9c27b0; }

/* BACKGROUND UNIVERSAL: purple */
.bg__uni--purple { background-color: #9c27b0; color: white; }

/* BORDER UNIVERSAL: purple */
.border__uni--purple { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #9c27b0; }

/* COLOR UNIVERSAL: deep-purple */
.c__uni--deep-purple { color: #673ab7; }

/* BACKGROUND UNIVERSAL: deep-purple */
.bg__uni--deep-purple { background-color: #673ab7; color: white; }

/* BORDER UNIVERSAL: deep-purple */
.border__uni--deep-purple { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #673ab7; }

/* COLOR UNIVERSAL: indigo */
.c__uni--indigo { color: #3f51b5; }

/* BACKGROUND UNIVERSAL: indigo */
.bg__uni--indigo { background-color: #3f51b5; color: white; }

/* BORDER UNIVERSAL: indigo */
.border__uni--indigo { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #3f51b5; }

/* COLOR UNIVERSAL: blue */
.c__uni--blue { color: #2196f3; }

/* BACKGROUND UNIVERSAL: blue */
.bg__uni--blue { background-color: #2196f3; color: white; }

/* BORDER UNIVERSAL: blue */
.border__uni--blue { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #2196f3; }

/* COLOR UNIVERSAL: light-blue */
.c__uni--light-blue { color: #03a9f4; }

/* BACKGROUND UNIVERSAL: light-blue */
.bg__uni--light-blue { background-color: #03a9f4; color: white; }

/* BORDER UNIVERSAL: light-blue */
.border__uni--light-blue { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #03a9f4; }

/* COLOR UNIVERSAL: cyan */
.c__uni--cyan { color: #00bcd4; }

/* BACKGROUND UNIVERSAL: cyan */
.bg__uni--cyan { background-color: #00bcd4; color: white; }

/* BORDER UNIVERSAL: cyan */
.border__uni--cyan { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #00bcd4; }

/* COLOR UNIVERSAL: teal */
.c__uni--teal { color: #009688; }

/* BACKGROUND UNIVERSAL: teal */
.bg__uni--teal { background-color: #009688; color: white; }

/* BORDER UNIVERSAL: teal */
.border__uni--teal { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #009688; }

/* COLOR UNIVERSAL: green */
.c__uni--green { color: #4caf50; }

/* BACKGROUND UNIVERSAL: green */
.bg__uni--green { background-color: #4caf50; color: white; }

/* BORDER UNIVERSAL: green */
.border__uni--green { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #4caf50; }

/* COLOR UNIVERSAL: light-green */
.c__uni--light-green { color: #8bc34a; }

/* BACKGROUND UNIVERSAL: light-green */
.bg__uni--light-green { background-color: #8bc34a; color: black; }

/* BORDER UNIVERSAL: light-green */
.border__uni--light-green { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #8bc34a; }

/* COLOR UNIVERSAL: lime */
.c__uni--lime { color: #cddc39; }

/* BACKGROUND UNIVERSAL: lime */
.bg__uni--lime { background-color: #cddc39; color: black; }

/* BORDER UNIVERSAL: lime */
.border__uni--lime { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #cddc39; }

/* COLOR UNIVERSAL: yellow */
.c__uni--yellow { color: #ffeb3b; }

/* BACKGROUND UNIVERSAL: yellow */
.bg__uni--yellow { background-color: #ffeb3b; color: black; }

/* BORDER UNIVERSAL: yellow */
.border__uni--yellow { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #ffeb3b; }

/* COLOR UNIVERSAL: amber */
.c__uni--amber { color: #ffc107; }

/* BACKGROUND UNIVERSAL: amber */
.bg__uni--amber { background-color: #ffc107; color: black; }

/* BORDER UNIVERSAL: amber */
.border__uni--amber { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #ffc107; }

/* COLOR UNIVERSAL: orange */
.c__uni--orange { color: #ff9800; }

/* BACKGROUND UNIVERSAL: orange */
.bg__uni--orange { background-color: #ff9800; color: black; }

/* BORDER UNIVERSAL: orange */
.border__uni--orange { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #ff9800; }

/* COLOR UNIVERSAL: deep-orange */
.c__uni--deep-orange { color: #ff5722; }

/* BACKGROUND UNIVERSAL: deep-orange */
.bg__uni--deep-orange { background-color: #ff5722; color: white; }

/* BORDER UNIVERSAL: deep-orange */
.border__uni--deep-orange { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #ff5722; }

/* COLOR UNIVERSAL: brown */
.c__uni--brown { color: #795548; }

/* BACKGROUND UNIVERSAL: brown */
.bg__uni--brown { background-color: #795548; color: white; }

/* BORDER UNIVERSAL: brown */
.border__uni--brown { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #795548; }

/* COLOR UNIVERSAL: blue-grey */
.c__uni--blue-grey { color: #607d8b; }

/* BACKGROUND UNIVERSAL: blue-grey */
.bg__uni--blue-grey { background-color: #607d8b; color: white; }

/* BORDER UNIVERSAL: blue-grey */
.border__uni--blue-grey { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #607d8b; }

/* SCALE BLACK: 5% */
.c__lightenBlack--5 { color: #0d0d0d; }

.bg__lightenBlack--5 { background-color: #0d0d0d; color: #f2f2f2; }

.border__lightenBlack--5 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #0d0d0d; }

/* SCALE BLACK: 10% */
.c__lightenBlack--10 { color: #1a1a1a; }

.bg__lightenBlack--10 { background-color: #1a1a1a; color: #f2f2f2; }

.border__lightenBlack--10 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #1a1a1a; }

/* SCALE BLACK: 15% */
.c__lightenBlack--15 { color: #262626; }

.bg__lightenBlack--15 { background-color: #262626; color: #f2f2f2; }

.border__lightenBlack--15 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #262626; }

/* SCALE BLACK: 20% */
.c__lightenBlack--20 { color: #333333; }

.bg__lightenBlack--20 { background-color: #333333; color: #f2f2f2; }

.border__lightenBlack--20 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #333333; }

/* SCALE BLACK: 25% */
.c__lightenBlack--25 { color: #404040; }

.bg__lightenBlack--25 { background-color: #404040; color: #f2f2f2; }

.border__lightenBlack--25 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #404040; }

/* SCALE BLACK: 30% */
.c__lightenBlack--30 { color: #4d4d4d; }

.bg__lightenBlack--30 { background-color: #4d4d4d; color: #f2f2f2; }

.border__lightenBlack--30 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #4d4d4d; }

/* SCALE BLACK: 35% */
.c__lightenBlack--35 { color: #595959; }

.bg__lightenBlack--35 { background-color: #595959; color: #f2f2f2; }

.border__lightenBlack--35 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #595959; }

/* SCALE BLACK: 40% */
.c__lightenBlack--40 { color: #666666; }

.bg__lightenBlack--40 { background-color: #666666; color: #f2f2f2; }

.border__lightenBlack--40 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #666666; }

/* SCALE BLACK: 45% */
.c__lightenBlack--45 { color: #737373; }

.bg__lightenBlack--45 { background-color: #737373; color: #f2f2f2; }

.border__lightenBlack--45 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #737373; }

/* SCALE BLACK: 50% */
.c__lightenBlack--50 { color: gray; }

.bg__lightenBlack--50 { background-color: gray; color: #f2f2f2; }

.border__lightenBlack--50 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: gray; }

/* SCALE BLACK: 55% */
.c__lightenBlack--55 { color: #8c8c8c; }

.bg__lightenBlack--55 { background-color: #8c8c8c; color: #f2f2f2; }

.border__lightenBlack--55 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #8c8c8c; }

/* SCALE BLACK: 60% */
.c__lightenBlack--60 { color: #999999; }

.bg__lightenBlack--60 { background-color: #999999; color: #f2f2f2; }

.border__lightenBlack--60 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #999999; }

/* SCALE BLACK: 65% */
.c__lightenBlack--65 { color: #a6a6a6; }

.bg__lightenBlack--65 { background-color: #a6a6a6; color: #f2f2f2; }

.border__lightenBlack--65 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #a6a6a6; }

/* SCALE BLACK: 70% */
.c__lightenBlack--70 { color: #b3b3b3; }

.bg__lightenBlack--70 { background-color: #b3b3b3; color: #0d0d0d; }

.border__lightenBlack--70 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #b3b3b3; }

/* SCALE BLACK: 75% */
.c__lightenBlack--75 { color: #bfbfbf; }

.bg__lightenBlack--75 { background-color: #bfbfbf; color: #0d0d0d; }

.border__lightenBlack--75 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #bfbfbf; }

/* SCALE BLACK: 80% */
.c__lightenBlack--80 { color: #cccccc; }

.bg__lightenBlack--80 { background-color: #cccccc; color: #0d0d0d; }

.border__lightenBlack--80 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #cccccc; }

/* SCALE BLACK: 85% */
.c__lightenBlack--85 { color: #d9d9d9; }

.bg__lightenBlack--85 { background-color: #d9d9d9; color: #0d0d0d; }

.border__lightenBlack--85 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #d9d9d9; }

/* SCALE BLACK: 90% */
.c__lightenBlack--90 { color: #e6e6e6; }

.bg__lightenBlack--90 { background-color: #e6e6e6; color: #0d0d0d; }

.border__lightenBlack--90 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #e6e6e6; }

/* SCALE BLACK: 95% */
.c__lightenBlack--95 { color: #f2f2f2; }

.bg__lightenBlack--95 { background-color: #f2f2f2; color: #0d0d0d; }

.border__lightenBlack--95 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #f2f2f2; }

/* SCALE PRIMARY THEME: 20% */
.c__darkenPrimary--20 { color: #00133b; }

.bg__darkenPrimary--20 { background-color: #00133b; color: white; }

.border__darkenPrimary--20 { border-color: #00133b; }

.c__lightenPrimary--20 { color: #0856ff; }

.bg__lightenPrimary--20 { background-color: #0856ff; color: black; }

.border__lightenPrimary--20 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #0856ff; }

/* SCALE SECONDARY THEME: 20% */
.c__darkenSecondary--20 { color: #656567; }

.bg__darkenSecondary--20 { background-color: #656567; color: white; }

.border__darkenSecondary--20 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #656567; }

.c__lightenSecondary--20 { color: #cccccd; }

.bg__lightenSecondary--20 { background-color: #cccccd; color: black; }

.border__lightenSecondary--20 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #cccccd; }

/* SCALE ACCENT THEME: 20% */
.c__darkenAccent--20 { color: #820354; }

.bg__darkenAccent--20 { background-color: #820354; color: white; }

.border__darkenAccent--20 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #820354; }

.c__lightenAccent--20 { color: #fb56c0; }

.bg__lightenAccent--20 { background-color: #fb56c0; color: black; }

.border__lightenAccent--20 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #fb56c0; }

/* SCALE PRIMARY THEME: 40% */
.c__darkenPrimary--40 { color: black; }

.bg__darkenPrimary--40 { background-color: black; color: white; }

.border__darkenPrimary--40 { border-color: black; }

.c__lightenPrimary--40 { color: #6e9cff; }

.bg__lightenPrimary--40 { background-color: #6e9cff; color: black; }

.border__lightenPrimary--40 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #6e9cff; }

/* SCALE SECONDARY THEME: 40% */
.c__darkenSecondary--40 { color: #333334; }

.bg__darkenSecondary--40 { background-color: #333334; color: white; }

.border__darkenSecondary--40 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #333334; }

.c__lightenSecondary--40 { color: white; }

.bg__lightenSecondary--40 { background-color: white; color: black; }

.border__lightenSecondary--40 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: white; }

/* SCALE ACCENT THEME: 40% */
.c__darkenAccent--40 { color: #1e0114; }

.bg__darkenAccent--40 { background-color: #1e0114; color: white; }

.border__darkenAccent--40 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #1e0114; }

.c__lightenAccent--40 { color: #fdbae5; }

.bg__lightenAccent--40 { background-color: #fdbae5; color: black; }

.border__lightenAccent--40 { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-width: 3px; border-style: solid; border-color: #fdbae5; }

/* COLOR A TITULO: primary */
.c-H__theme--primary h1, .c-H__theme--primary h2, .c-H__theme--primary h3, .c-H__theme--primary h4, .c-H__theme--primary h5, .c-H__theme--primary h6 { color: #0033A1; }

.c-H__lightenTheme--primary h1, .c-H__lightenTheme--primary h2, .c-H__lightenTheme--primary h3, .c-H__lightenTheme--primary h4, .c-H__lightenTheme--primary h5, .c-H__lightenTheme--primary h6 { color: #0856ff; }

/* COLOR A TITULO: secondary */
.c-H__theme--secondary h1, .c-H__theme--secondary h2, .c-H__theme--secondary h3, .c-H__theme--secondary h4, .c-H__theme--secondary h5, .c-H__theme--secondary h6 { color: #98989A; }

.c-H__lightenTheme--secondary h1, .c-H__lightenTheme--secondary h2, .c-H__lightenTheme--secondary h3, .c-H__lightenTheme--secondary h4, .c-H__lightenTheme--secondary h5, .c-H__lightenTheme--secondary h6 { color: #cccccd; }

/* COLOR A TITULO: accent */
.c-H__theme--accent h1, .c-H__theme--accent h2, .c-H__theme--accent h3, .c-H__theme--accent h4, .c-H__theme--accent h5, .c-H__theme--accent h6 { color: #E50695; }

.c-H__lightenTheme--accent h1, .c-H__lightenTheme--accent h2, .c-H__lightenTheme--accent h3, .c-H__lightenTheme--accent h4, .c-H__lightenTheme--accent h5, .c-H__lightenTheme--accent h6 { color: #fb56c0; }

/* COLOR A TITULO: complementary */
.c-H__theme--complementary h1, .c-H__theme--complementary h2, .c-H__theme--complementary h3, .c-H__theme--complementary h4, .c-H__theme--complementary h5, .c-H__theme--complementary h6 { color: #3DAE2B; }

.c-H__lightenTheme--complementary h1, .c-H__lightenTheme--complementary h2, .c-H__lightenTheme--complementary h3, .c-H__lightenTheme--complementary h4, .c-H__lightenTheme--complementary h5, .c-H__lightenTheme--complementary h6 { color: #76d966; }

/* COLOR A TITULO: complementary2 */
.c-H__theme--complementary2 h1, .c-H__theme--complementary2 h2, .c-H__theme--complementary2 h3, .c-H__theme--complementary2 h4, .c-H__theme--complementary2 h5, .c-H__theme--complementary2 h6 { color: #E1251B; }

.c-H__lightenTheme--complementary2 h1, .c-H__lightenTheme--complementary2 h2, .c-H__lightenTheme--complementary2 h3, .c-H__lightenTheme--complementary2 h4, .c-H__lightenTheme--complementary2 h5, .c-H__lightenTheme--complementary2 h6 { color: #ee7a74; }

/* COLOR A TITULO: complementary3 */
.c-H__theme--complementary3 h1, .c-H__theme--complementary3 h2, .c-H__theme--complementary3 h3, .c-H__theme--complementary3 h4, .c-H__theme--complementary3 h5, .c-H__theme--complementary3 h6 { color: #005CB9; }

.c-H__lightenTheme--complementary3 h1, .c-H__lightenTheme--complementary3 h2, .c-H__lightenTheme--complementary3 h3, .c-H__lightenTheme--complementary3 h4, .c-H__lightenTheme--complementary3 h5, .c-H__lightenTheme--complementary3 h6 { color: #208fff; }

/* COLOR A TITULO: complementary4 */
.c-H__theme--complementary4 h1, .c-H__theme--complementary4 h2, .c-H__theme--complementary4 h3, .c-H__theme--complementary4 h4, .c-H__theme--complementary4 h5, .c-H__theme--complementary4 h6 { color: #FFCD00; }

.c-H__lightenTheme--complementary4 h1, .c-H__lightenTheme--complementary4 h2, .c-H__lightenTheme--complementary4 h3, .c-H__lightenTheme--complementary4 h4, .c-H__lightenTheme--complementary4 h5, .c-H__lightenTheme--complementary4 h6 { color: #ffe166; }

.c-H__color--white h1, .c-H__color--white h2, .c-H__color--white h3, .c-H__color--white h4, .c-H__color--white h5, .c-H__color--white h6 { color: #FFFFFF; }

.c-H__color--black h1, .c-H__color--black h2, .c-H__color--black h3, .c-H__color--black h4, .c-H__color--black h5, .c-H__color--black h6 { color: #000000; }

/* COLOR A TITULO: primary */
.c-A__theme--primary a { color: #0033A1; }

.c-A__theme--primary a:hover { color: #00133b; }

.c-A__lightenTheme--primary a { color: #0856ff; }

.c-A__lightenTheme--primary a:hover { color: #00133b; }

/* COLOR A TITULO: secondary */
.c-A__theme--secondary a { color: #98989A; }

.c-A__theme--secondary a:hover { color: #656567; }

.c-A__lightenTheme--secondary a { color: #cccccd; }

.c-A__lightenTheme--secondary a:hover { color: #656567; }

/* COLOR A TITULO: accent */
.c-A__theme--accent a { color: #E50695; }

.c-A__theme--accent a:hover { color: #820354; }

.c-A__lightenTheme--accent a { color: #fb56c0; }

.c-A__lightenTheme--accent a:hover { color: #820354; }

/* COLOR A TITULO: complementary */
.c-A__theme--complementary a { color: #3DAE2B; }

.c-A__theme--complementary a:hover { color: #205c17; }

.c-A__lightenTheme--complementary a { color: #76d966; }

.c-A__lightenTheme--complementary a:hover { color: #205c17; }

/* COLOR A TITULO: complementary2 */
.c-A__theme--complementary2 a { color: #E1251B; }

.c-A__theme--complementary2 a:hover { color: #861610; }

.c-A__lightenTheme--complementary2 a { color: #ee7a74; }

.c-A__lightenTheme--complementary2 a:hover { color: #861610; }

/* COLOR A TITULO: complementary3 */
.c-A__theme--complementary3 a { color: #005CB9; }

.c-A__theme--complementary3 a:hover { color: #002953; }

.c-A__lightenTheme--complementary3 a { color: #208fff; }

.c-A__lightenTheme--complementary3 a:hover { color: #002953; }

/* COLOR A TITULO: complementary4 */
.c-A__theme--complementary4 a { color: #FFCD00; }

.c-A__theme--complementary4 a:hover { color: #997b00; }

.c-A__lightenTheme--complementary4 a { color: #ffe166; }

.c-A__lightenTheme--complementary4 a:hover { color: #997b00; }

.c-A__color--white a { color: #FFFFFF; }

.c-A__color--white a:hover { color: rgba(255, 255, 255, 0.8); }

.c-A__color--black a { color: #000000; }

.c-A__color--black a:hover { color: rgba(0, 0, 0, 0.8); }

.system-content_theme ul { padding: 20px; background-color: #f2f2f2; text-align: center; margin-bottom: 0; }

.system-content_theme ul > li { list-style: none; display: inline-block; text-transform: uppercase; }

.system-content_theme ul > li > a { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; display: block; padding: 20px 25px; color: #000000; background-color: #d9d9d9; }

.system-content_theme ul > li > a:hover { color: #FFFFFF; background-color: #4d4d4d; }

ul.nav__tools--theme { padding: 0; background-color: #d9d9d9; text-align: center; }

ul.nav__tools--theme > li { list-style: none; display: inline-block; text-transform: uppercase; }

ul.nav__tools--theme > li > a { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; display: block; padding: 20px 25px; color: #FFFFFF; background-color: #4d4d4d; }

ul.nav__tools--theme > li > a:hover { color: #000000; background-color: #d9d9d9; }

.login { height: 100vh; }

.login .container, .login .row { height: 100%; }

.login .button { text-shadow: none; -webkit-text-shadow: none; -moz-text-shadow: none; -ms-text-shadow: none; -o-text-shadow: none; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; font-family: "Poppins", sans-serif; font-size: 20px; font-size: 1.25rem; line-height: 28px; line-height: 1.75rem; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; text-transform: uppercase; text-decoration: none; letter-spacing: 1px; padding: 10px 20px; text-align: center; background-color: #0033A1; border: 2px solid #0033A1; color: #FFFFFF; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; cursor: pointer; clear: both; border: 2px solid #0033A1; background-color: #FFFFFF; color: #0033A1; width: 100%; margin-top: 25px; }

@media screen and (max-width: 1199px) { .login .button { font-size: 16px; font-size: 1rem; line-height: 22px; line-height: 1.375rem; } }

@media screen and (max-width: 991px) { .login .button { font-size: 15px; font-size: 0.9375rem; line-height: 20px; line-height: 1.25rem; } }

@media screen and (max-width: 767px) { .login .button { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; } }

@media screen and (max-width: 767px) { .login .button { letter-spacing: 0; } }

.login .button:hover, .login .button:focus, .login .button:active, .login .button.active { text-decoration: none; color: #FFFFFF; border-color: #000308; background-color: #000308; }

.login .description { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; }

@media screen and (max-width: 767px) { .login .description { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; } }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar, ::-webkit-scrollbar-track { background-color: #cccccc; }

::-webkit-scrollbar-thumb { background-color: #0033A1; }

::-webkit-scrollbar-thumb:hover { background-color: #98989A; }

:root { --km-c-primary:        $c-primary; --km-c-secondary:      $c-secondary; --km-c-accent:         $c-accent; --km-c-red:            $c-red; --km-c-pink:           $c-pink; --km-c-purple:         $c-purple; --km-c-deep-purple:    $c-deep-purple; --km-c-indigo:         $c-indigo; --km-c-blue:           $c-blue; --km-c-light-blue:     $c-light-blue; --km-c-cyan:           $c-cyan; --km-c-teal:           $c-teal; --km-c-green:          $c-green; --km-c-light-green:    $c-light-green; --km-c-lime:           $c-lime; --km-c-yellow:         $c-yellow; --km-c-amber:          $c-amber; --km-c-orange:         $c-orange; --km-c-deep-orange:    $c-deep-orange; --km-c-brown:          $c-brown; --km-c-blue-grey:      $c-blue-grey; }

*::-moz-selection { background: #0033A1; color: #FFFFFF; }

*::selection { background: #0033A1; color: #FFFFFF; }

*::-moz-selection { background: #0033A1; color: #FFFFFF; }

html { overflow-x: hidden; }

body { font-family: "Poppins", sans-serif; font-size: 20px; font-size: 1.25rem; line-height: 28px; line-height: 1.75rem; font-weight: 300; overflow-x: hidden; background-color: #FFFFFF; color: #262626; }

@media screen and (max-width: 1199px) { body { font-size: 16px; font-size: 1rem; line-height: 22px; line-height: 1.375rem; } }

@media screen and (max-width: 991px) { body { font-size: 15px; font-size: 0.9375rem; line-height: 20px; line-height: 1.25rem; } }

@media screen and (max-width: 767px) { body { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; } }

:focus, button:focus { outline: none; }

a { font-family: "Poppins", sans-serif; color: #0033A1; text-decoration: none; }

a:hover, a:focus, a:active { -webkit-transition: all 0.35s; transition: all 0.35s; outline: none !important; text-decoration: none; color: #98989A; }

h1, .h1 { font-family: "Poppins", sans-serif; font-size: 40px; font-size: 2.5rem; line-height: 46px; line-height: 2.875rem; font-style: normal; font-weight: bold; }

@media screen and (max-width: 991px) { h1, .h1 { font-size: 34px; font-size: 2.125rem; line-height: 38px; line-height: 2.375rem; } }

@media screen and (max-width: 767px) { h1, .h1 { font-size: 32px; font-size: 2rem; line-height: 35px; line-height: 2.1875rem; } }

h2, .h2 { font-family: "Poppins", sans-serif; font-size: 32px; font-size: 2rem; line-height: 38px; line-height: 2.375rem; font-style: normal; font-weight: bold; }

@media screen and (max-width: 991px) { h2, .h2 { font-size: 28px; font-size: 1.75rem; line-height: 32px; line-height: 2rem; } }

@media screen and (max-width: 767px) { h2, .h2 { font-size: 26px; font-size: 1.625rem; line-height: 29px; line-height: 1.8125rem; } }

h3, .h3 { font-family: "Poppins", sans-serif; font-size: 30px; font-size: 1.875rem; line-height: 35px; line-height: 2.1875rem; font-style: normal; font-weight: bold; }

@media screen and (max-width: 991px) { h3, .h3 { font-size: 27px; font-size: 1.6875rem; line-height: 31px; line-height: 1.9375rem; } }

@media screen and (max-width: 767px) { h3, .h3 { font-size: 26px; font-size: 1.625rem; line-height: 29px; line-height: 1.8125rem; } }

h4, .h4 { font-family: "Poppins", sans-serif; font-size: 24px; font-size: 1.5rem; line-height: 29px; line-height: 1.8125rem; font-style: normal; }

@media screen and (max-width: 991px) { h4, .h4 { font-size: 22px; font-size: 1.375rem; line-height: 26px; line-height: 1.625rem; } }

@media screen and (max-width: 767px) { h4, .h4 { font-size: 21px; font-size: 1.3125rem; line-height: 24px; line-height: 1.5rem; } }

h5, .h5 { font-family: "Poppins", sans-serif; font-size: 23px; font-size: 1.4375rem; line-height: 27px; line-height: 1.6875rem; font-style: normal; }

@media screen and (max-width: 991px) { h5, .h5 { font-size: 21px; font-size: 1.3125rem; line-height: 24px; line-height: 1.5rem; } }

@media screen and (max-width: 767px) { h5, .h5 { font-size: 20px; font-size: 1.25rem; line-height: 22px; line-height: 1.375rem; } }

h6, .h6 { font-family: "Poppins", sans-serif; font-size: 22px; font-size: 1.375rem; line-height: 26px; line-height: 1.625rem; font-style: normal; }

@media screen and (max-width: 991px) { h6, .h6 { font-size: 20px; font-size: 1.25rem; line-height: 23px; line-height: 1.4375rem; } }

@media screen and (max-width: 767px) { h6, .h6 { font-size: 19px; font-size: 1.1875rem; line-height: 21px; line-height: 1.3125rem; } }

h1, h2, .h1, .h2 { margin-top: 2.4rem; margin-bottom: 2.4rem; }

h3, h4, h5, h6, .h3, .h4, .h5, .h6 { margin-top: 1.2rem; margin-bottom: 1.2rem; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4 { color: #0033A1; }

h5, h6, .h5, .h6 { color: #98989A; }

h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type, .h2:first-of-type, .h3:first-of-type, .h4:first-of-type, .h5:first-of-type, .h6:first-of-type { margin-top: 0; }

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em, .h1 em, .h2 em, .h3 em, .h4 em, .h5 em, .h6 em { font-family: "Poppins", sans-serif; }

em { color: inherit; font-family: inherit; font-size: inherit; }

p { margin-top: 1rem; margin-bottom: 1rem; }

@media screen and (max-width: 575px) { p { margin-top: 0.8rem; margin-bottom: 0.8rem; } }

strong, b { font-family: "Poppins", sans-serif; font-weight: 700; }

strong em, b em { font-family: "Poppins", sans-serif; }

img { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; display: inline-block; vertical-align: middle; width: auto; max-width: 100%; height: auto; }

form label, form .fieldset-legend { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; max-width: 100%; text-transform: none; display: block; text-align: left; }

@media screen and (max-width: 767px) { form label, form .fieldset-legend { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; } }

form .description { font-size: 16px; font-size: 1rem; line-height: 22px; line-height: 1.375rem; display: block; margin-bottom: 10px; }

@media screen and (max-width: 767px) { form .description { font-size: 15px; font-size: 0.9375rem; line-height: 20px; line-height: 1.25rem; } }

form .form-type-checkbox .description { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; display: inline-block; width: 94%; margin-left: 8px; }

@media screen and (max-width: 767px) { form .form-type-checkbox .description { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; } }

@media screen and (max-width: 767px) { form .form-type-checkbox .description { width: 90%; } }

form .form-type-checkbox .input[type=checkbox] { vertical-align: top; display: inline-block; }

input[type="text"], input[type="tel"], input[type="password"], input[type="email"], input[type="number"], input[type=search], textarea, select { font-size: 14px; font-size: 0.875rem; line-height: 18px; line-height: 1.125rem; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; display: block; background-color: #FFFFFF; border-bottom: 2px solid #0033A1; color: #262626; padding: 15px 15px; margin: 5px 0; outline: none; width: 100%; }

@media screen and (max-width: 767px) { input[type="text"], input[type="tel"], input[type="password"], input[type="email"], input[type="number"], input[type=search], textarea, select { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; } }

input[type="text"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type=search]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder { color: #262626; }

input[type="text"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type=search]::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder { color: #262626; opacity: 1; }

input[type="text"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type=search]:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder { color: #262626; }

input[type="text"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type=search]:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder { color: #262626; }

input[type="text"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type=search]:focus, textarea:focus, select:focus { border-color: #E50695; }

select { appearance: none; -webkit-appearance: none; -moz-appearance: none; background-image: url("../../images/assets/br_down.png"); background-repeat: no-repeat; position: relative; background-position: right; background-position-x: 95%; }

iframe { width: 100% !important; }

.form-item--error-message { font-size: 14px; line-height: 17px; }

.form-item--error-message::before { margin-right: 5px; }

.form-item--error-message strong { font-weight: 400; color: #f44336; }

table { border-collapse: collapse; width: 100%; margin-bottom: 1rem; }

table tbody tr:nth-of-type(odd) { background-color: #f2f2f2; }

table th { background-color: #0033A1; color: white; }

table th a { color: white; }

table td, table th { padding: .75rem; vertical-align: middle; }

.messages--error { font-size: 16px; }
